Todo.txt
BacktestingApp
BacktestingTests
BacktestingFramework
Old code/
_deps/
build/*
/*
*.a
*.d
/build/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/Makefile
/*.cmake
*.exe
*.out
*.app
*.a
*.so
*.lib
*.dll
*.dylib
*.o
*.obj
*.lo
*.d
*.log
*.tmp
*.temp
.vscode/
/settings.json
*.sublime-project
*.sublime-workspace
*.idea/
*.DS_Store
Thumbs.db
CTestTestfile.cmake
*.marks
*.depend.internal
*.depend.make
portfolio.csv
test_data_fake.csv
test_data.csv